<li [ngClass]="{'list-group-item': true, 
                'list-group-item-success': post.loveIts > 0, 
                'list-group-item-danger': post.loveIts < 0}">
  <div class="col-xs-12">
    <div class="col-xs-6"><h3><b>{{ post.title }}</b></h3></div>
    <div class="col-xs-3 col-xs-offset-3"><h4><i>{{ post.created_at | date: "short" }}</i></h4></div>
  </div>
  <p>{{ post.content }}</p>
  <button class="btn btn-success" (click)="like()">Love it!</button>
  <button class="btn btn-danger" (click)="dislike()">Don't love it!</button>
</li>